<% layout("/layouts/boilerplate") %>
<body>
    <h1 class="new_Listing">Create a new Listing</h1>
        <form method="post" action="http://localhost:8080/Listings">
            <div class="form_div_1">
                <div class="new_title_div">
                    <label for="title">Title:</label>
                    <br>
                    <input type="text" id="title" name="title" required placeholder="Enter title" class="title_box">
                </div>
                <div class="new_description_div">
                    <label for="description">Description:</label>
                    <br>
                    <textarea id="description" name="description" rows="5" cols="10" placeholder="Enter description" class="description_box"></textarea>
                </div>
                <div class="new_image_div">
                    <label for="image">Image URL:</label>
                    <br>
                    <input type="text" id="image" name="image[url]" placeholder="Enter image URL" class="image_box">
                </div>
                <span>
                    <div class="new_price_div">
                        <label for="price">Price:</label>
                        <br>
                        <input type="number" id="price" name="price" step="0.01" placeholder="Enter price" class="price_box">
                    </div>
                    <div class="new_location_div">
                        <label for="location">Location:</label>
                        <br>
                        <input type="text" id="location" name="location" placeholder="Enter location" class="location_box">
                    </div>
                </span>
                <div class="new_country_div">
                    <label for="country">Country:</label>
                    <br>
                    <input type="text" id="country" name="country" placeholder="Enter country" class="country_box">
                </div>
                <button type="submit">Add</button>
            </div>
        </form>
</body>
